<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.seeds.mapper.AgentReportMapper">

    <resultMap id="BaseResultMap" type="jp.co.seeds.entities.AgentReport">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="shortName" column="short_name" jdbcType="VARCHAR"/>
            <result property="nameKana" column="name_kana" jdbcType="VARCHAR"/>
            <result property="agentType" column="agent_type" jdbcType="VARCHAR"/>
            <result property="partment" column="partment" jdbcType="VARCHAR"/>
            <result property="vip" column="VIP" jdbcType="TINYINT"/>
            <result property="connectType" column="connect_type" jdbcType="VARCHAR"/>
            <result property="payType" column="pay_type" jdbcType="VARCHAR"/>
            <result property="accessSftpTime" column="access_sftp_time" jdbcType="VARCHAR"/>
            <result property="cooperationAgent" column="cooperation_agent" jdbcType="VARCHAR"/>
            <result property="cooperationMerchant" column="cooperation_merchant" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="deleteFlg" column="delete_flg" jdbcType="INTEGER"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,
        short_name,name_kana,agent_type,
        partment,VIP,connect_type,
        pay_type,access_sftp_time,cooperation_agent,
        cooperation_merchant,remarks,delete_flg,
        operator,create_time,update_time
    </sql>
</mapper>
