<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.seeds.mapper.EmailMapper">

    <resultMap id="BaseResultMap" type="jp.co.seeds.entities.Email">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="agentId" column="agent_id" jdbcType="INTEGER"/>
            <result property="priority" column="priority" jdbcType="VARCHAR"/>
            <result property="emailAddress" column="email_address" jdbcType="VARCHAR"/>
            <result property="emailName" column="email_name" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="deleteFlg" column="delete_flg" jdbcType="INTEGER"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,agent_id,priority,
        email_address,email_name,remarks,
        delete_flg,operator,create_time,
        update_time
    </sql>
</mapper>
