<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.seeds.mapper.SendingRecordMapper">

    <resultMap id="BaseResultMap" type="jp.co.seeds.entities.SendingRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="template" column="template" jdbcType="TINYINT"/>
            <result property="sender" column="sender" jdbcType="VARCHAR"/>
            <result property="receivers" column="receivers" jdbcType="VARCHAR"/>
            <result property="receiversCc" column="receivers_cc" jdbcType="VARCHAR"/>
            <result property="receiversBb" column="receivers_bb" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="appendedPath" column="appended_path" jdbcType="VARCHAR"/>
            <result property="sendDate" column="send_date" jdbcType="TIMESTAMP"/>
            <result property="deleteFlg" column="delete_flg" jdbcType="INTEGER"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="cretateTime" column="cretate_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,title,
        template,sender,receivers,
        receivers_cc,receivers_bb,content,
        appended_path,send_date,delete_flg,
        operator,cretate_time,update_time
    </sql>
</mapper>
